<!DOCTYPE html>
<html>
<head>
    <title>Recuperar Contraseña</title>
</head>
<body style="background: #e4e4e4;font-family: Tahoma;font-size: 16px;color: #6b6060; padding: 50px 0;">
<div class="box-content" style="background: white;max-width: 600px; margin: auto;margin-top: 20px; min-height: 310px;">
    <div class="title-part" style="background: #5a8ae3;width: 100%;height: 60px;">
        <img src="${imagenCorreo}" style="margin-top: 15px; margin-left: 25px;">
    </div>
    <div class="body-part" style="padding: 35px 25px;font-family: Arial;font-size: 15px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.33;letter-spacing: normal;text-align: left;color: #4a4a4a;">
        Hola ${model.getPrimerNombre()}, por favor confirma tu nuevo correo haciendo clic en el siguiente enlace:
        <br><br>
        <a href="${baseUrl}/Account/ConfirmarCambioEmail?hashCode=${model.getRecoverPasswordHash()}" style="color: #5c8fd6;">
            ${baseUrl}/Account/ConfirmarCambioEmail?hashCode=${model.getRecoverPasswordHash()}</a>
        <div class="signature-part" style="margin-top: 63px;margin-bottom: 20px;">
            <span style="border-top: solid 1px #d8d8d8;padding-top: 5px;">El equipo de innova family</span>
        </div>
    </div>
</div>
</body>

</html>